@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height:100%;
}

/* YourStylesheet.css or within your component's styles */
.custom-border {
  border-radius: 0.4rem  0  0 0.4rem;
  
}

.group:hover .custom-border {
  opacity: 1;
}


/* styles.css */
.blurred-bg {
  position: relative;
}

.blurred-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 128, 0, 0.5); /* 50% opacity green */
  backdrop-filter: blur(5px);
  z-index: 1;
}

.blurred-bg-content {
  position: relative;
  z-index: 2;
}
